<a href="http://localhost:9292/spaces/requests">
<button>requests</button>
</a>


<a href="http://localhost:9292/spaces/new">
<button>list a space</button>
</a>
<form action="/spaces/availability" method="post">
  <input type='date' name='available from' required min="<%= Date.today %>"><br>
  <input type='date' name='available to' required min="<%= Date.today %>"><br>
  <input type='submit' value='list available spaces'>
</form>

<a href="http://localhost:9292/sessions/logout">
<button>sign out</button>
</a>

<ul>
<% @spaces.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.description %></li>
    <li><%= space.price %></li>
    <li><%= space.start_date %> - <%= space.end_date %></li>
     <form class="property" action="/spaces/<%= space.id %>/request" method="post">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="submit" value="Request Space" onclick="clicked(event)"/>
      </form><br>
<% end %>
</ul>

Signed in as <%= @user %>

<script>
function clicked() {
    return confirm('request sent');
}
</script>

