<a href="http://localhost:9292/spaces/new">
<button>list a space</button>
</a>
<form>
  <input type='date' name='available from' placeholder="available from"><br>
  <input type='date' name='available to' placeholder="available to"><br>
  <input type='submit' value='list available spaces'>
  
</form>

<a href="http://localhost:9292/sessions/logout">
<button>sign out</button>
</a>

<ul>
<% @spaces.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.description %></li>
    <li><%= space.price %></li>
    <li><%= space.start_date %> - <%= space.end_date %></li><br>
    
<% end %>
</ul>