<html>
   <head>
      <title>Makersbnb</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Barlow+Condensed:wght@300;400&display=swap" rel="stylesheet">
   </head>
   <style> body {
     
    background-color:lightyellow; 
    font-family: 'Arimo', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(100, 165, 114); 
}
a {margin: 5px;}
ul {
  position: absolute;
  top: 30%;
  left: 30%;
}  
#available {
  position: absolute;  
  left: 45%
}
#request {
  position: absolute;  
  left: 450;
}
</style>

   <nav align="right" >
      Signed in as <%= @user %> 
      <a href="http://localhost:9292/sessions/logout"><button>Sign-out</button></a>
      <a href="http://localhost:9292/spaces/requests"><button>Requests</button></a>
      <a href="http://localhost:9292/spaces/new"><button>List a space</button></a>
    </nav>

   <body>

<form style="text-align: center;" action="/spaces/reset" method="post">
    <input type='submit' value='Reset date range'>
  </form>

<h1 align="center" > The world is your oyster</h1>


<form  id= "available" action="/spaces/availability" method="post">
  <input type='date' name='available from' required min="<%= Date.today %>" max="<%= Date.today + 730%>" ><br>
  <input type='date' name='available to' required min="<%= Date.today %>" max="<%= Date.today + 730%>"><br>
  <input type='submit' value='List available spaces'>
</form>

<br>

<ul style="list-style-type: none"; > 
  <% @spaces.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.description %></li>
    <li>£<%= space.price %></li>
    <li><%= space.start_date %> - <%= space.end_date %></li>
     <form  id="request" action="/spaces/<%= space.id %>/request" method="post">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="submit" value="Request space" onclick="clicked(event)"/>
      </form><br>
  <% end %>
</ul>

<script>
function clicked() {
    return confirm('request sent');
}
</script>
 </body>
</html>

