<html>
<head>
      <title>Requests</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Barlow+Condensed:wght@300;400&display=swap" rel="stylesheet">
   </head>
   

<style> a {margin: 5px;}
body {
   background-color:orange;
   font-family: 'Arimo', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    
}
</style>
<nav align="right" >
Signed in as <%= @user %>
<a href="http://localhost:9292/sessions/logout"><button>Sign-out</button></a> 
<a href="http://localhost:9292/spaces/index"><button>Spaces</button></a>
</nav>


<body align="center">
     

<h2>Requests made</h2>
<ul style="list-style-type: none";>
<% @requests_made.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.description %></li>
    <li>£<%= space.price %></li>
    <li><%= space.start_date %> - <%= space.end_date %></li>
    <% if space.confirmed == 't'  %>
       confirmed
    <% else %>
        awaiting confirmation
    <% end %>
    <br>
<% end %>
</ul><br>


<h2>Requests to confirm</h2>
<ul style="list-style-type: none";>
<% @requests_to_confirm.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.description %></li>
    <li>£<%= space.price %></li>
    <li><%= space.start_date %> - <%= space.end_date %></li>
     <form action="/spaces/<%= space.id %>/confirm" method="post">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="submit" value="Confirm request"/>
    </form><br>
     <form action="/spaces/<%= space.id %>/deny" method="post">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="submit" value="Deny"/>
    </form><br>
<% end %>
</ul>


</body>
</html>